{{> partials/head }}
<div class="container-fluid o-page">
    <div class="row o-page">
        {{> partials/sidebar }}
        <div class="col o-main">
            <div class="col-content-l o-main--text">

                <!-- Getting started -->
                <section>
                    <h1>App service documentation</h1>
                    <p>Create and manage apps within Stash Backend. Each app will have access to other Stash services.</p>
                </section>

                <section>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr class="header">
                            <th>Action</th>
                            <th>Method</th>
                            <th>URI</th>
                            <th>App auth required</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd">
                            <td><a href="#create-application">Create application</a></td>
                            <td>POST</td>
                            <td><code>/apps</code></td>
                            <td>No</td>
                        </tr>
                        <tr class="even">
                            <td><a href="#authenticate-application">Auth application</a></td>
                            <td>POST</td>
                            <td><code>/apps/{appId}/authenticate</code></td>
                            <td>No</td>
                        </tr>
                        <tr class="odd">
                            <td><a href="#get-application">Get application</a></td>
                            <td>GET</td>
                            <td><code>/apps/{appId}</code></td>
                            <td>Yes</td>
                        </tr>
                        <tr class="even">
                            <td><a href="#delete-application">Delete application</a></td>
                            <td>DELETE</td>
                            <td><code>/apps/{appId}</code></td>
                            <td>Yes</td>
                        </tr>
                        </tbody>
                    </table>
                    <h3 id="create-application">Create application</h3>
                    <ul>
                        <li>Call: POST <code>/apps</code></li>
                        <li>Creates a Stash Backend App</li>
                        <li><code>appId</code> is used to identify the app and to log in to Dashboard</li>
                        <li><code>masterEmail</code> is used to log in to Dashboard and authenticate a Master</li>
                        <li><code>masterPasswordHash</code> is used to log in to Dashboard and authenticate a Master</li>
                    </ul>
                    <h4 id="request-body">Request body</h4>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr class="header">
                            <th>Property</th>
                            <th>Type</th>
                            <th>Mandatory</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd">
                            <td><code>appId</code></td>
                            <td>String</td>
                            <td>true</td>
                        </tr>
                        <tr class="even">
                            <td><code>appSecret</code></td>
                            <td>String</td>
                            <td>true</td>
                        </tr>
                        <tr class="odd">
                            <td><code>masterEmail</code></td>
                            <td>String</td>
                            <td>true</td>
                        </tr>
                        <tr class="even">
                            <td><code>masterPasswordHash</code></td>
                            <td>String</td>
                            <td>true</td>
                        </tr>
                        <tr class="odd">
                            <td><code>appName</code></td>
                            <td>String</td>
                            <td>false</td>
                        </tr>
                        <tr class="even">
                            <td><code>appDescription</code></td>
                            <td>String</td>
                            <td>false</td>
                        </tr>
                        </tbody>
                    </table>
                    <h3 id="authenticate-application">Authenticate application</h3>
                    <ul>
                        <li>Call: POST <code>/apps/{appId}/authenticate</code></li>
                        <li>Returns an App Authentication Token</li>
                        <li>Use this token alongside with your <code>appId</code> to authenticate your App calls</li>
                    </ul>
                    <h4 id="required-headers-for-app-authenticaton">Required headers for App authenticaton</h4>
                    <pre class="sourceCode json" id="cb1"><code class="sourceCode json"><div class="sourceLine" id="cb1-1" data-line-number="1"><span class="fu">{</span></div>
<div class="sourceLine" id="cb1-2" data-line-number="2">  <span class="dt">&quot;X-Auth-App-Id&quot;</span><span class="fu">:</span> <span class="st">&quot;12345&quot;</span><span class="fu">,</span></div>
<div class="sourceLine" id="cb1-3" data-line-number="3">  <span class="dt">&quot;X-Auth-App-Token&quot;</span><span class="fu">:</span> <span class="st">&quot;123456789&quot;</span></div>
<div class="sourceLine" id="cb1-4" data-line-number="4"><span class="fu">}</span></div></code></pre>
                    <h4 id="request-body-1">Request body</h4>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr class="header">
                            <th>Property</th>
                            <th>Type</th>
                            <th>Mandatory</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd">
                            <td><code>appSecret</code></td>
                            <td>String</td>
                            <td>true</td>
                        </tr>
                        </tbody>
                    </table>
                    <h3 id="get-application">Get application</h3>
                    <ul>
                        <li>Call: GET <code>/apps/{appId}</code></li>
                        <li>App Authentication required</li>
                        <li>Returns app representation</li>
                    </ul>
                    <h3 id="delete-application">Delete application</h3>
                    <ul>
                        <li>Call: DELETE <code>/apps/{appId}</code></li>
                        <li>App Authentication required</li>
                        <li>Deletes authenticated app</li>
                    </ul>
                </section>

            </div>
        </div>
    </div>
</div>
{{> partials/footer }}
