<html>
    <body>
        <h1>Hello, welcome to Stash Backend</h1>
        <p>Your Stash Backend server is up and running. Please visit the <a href="https://github.com/gaboratorium/stash/wiki">Stash Wiki on GitHub</a> for the Stash Documentation.</p>
    </body>
</html>
