{{> partials/head }}
<div class="container-fluid o-page">
    <div class="row o-page">
        {{> partials/sidebar }}

        <div class="col o-main">
            <div class="col-content-l">

                <section>
                    <h1>Documents</h1>
                    <p>Currently your App has {{ vm.numberOfDocuments }} documents.</p>

                    {{#vm.documents}}
                    <div class="c-document">
                        <div class="c-document__json col-content">
                            {{ documentContent }}
                        </div>
                        <div class="c-document__meta">
                            <ul class="c-document__meta-list">
                                <li class="c-document__meta-list-elem"><span class="o-text--bold">DocumentID:</span> {{ documentId }}</li>
                                <li class="c-document__meta-list-elem"><span class="o-text--bold">Created at:</span> {{ documentCreatedAt }}</li>
                                <li class="c-document__meta-list-elem"><span class="o-text--bold">Owner ID:</span> {{ documentOwnerId }}</li>
                            </ul>
                        </div>
                    </div>
                    {{/vm.documents}}

                </section>
            </div>


        </div>

    </div>
</div>
{{> partials/footer }}
