{{> partials/head }}
<div class="container-fluid o-page">
    <div class="row o-page">
        {{> partials/sidebar }}
        <div class="col o-main">
            <div class="col-content-l o-main--text">

                <!-- Getting started -->
                <section>
                    <h1>File service documentation</h1>
                    <p>Here you can find the documentation of the Fileg Service.</p>
                </section>

                <section>
                    <p>Upload and download files to and from Stash Backend.</p>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr class="header">
                            <th>Action</th>
                            <th>Method</th>
                            <th>URL</th>
                            <th>App auth req</th>
                            <th>User auth req</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd">
                            <td><a href="#upload-file">Upload file</a></td>
                            <td>POST</td>
                            <td><code>apps/{appId}/files</code></td>
                            <td>Yes</td>
                            <td>No</td>
                        </tr>
                        <tr class="even">
                            <td><a href="#download-file">Download file</a></td>
                            <td>GET</td>
                            <td><code>apps/{appId}/files/{fileName}?appId={appId}&ownerId={ownerId}</code></td>
                            <td>No</td>
                            <td>No</td>
                        </tr>
                        <tr class="odd">
                            <td><a href="#delete-file">Delete file</a></td>
                            <td>DELETE</td>
                            <td><code>apps/{appId}/files/{fileName}?ownerId={ownerId}</code></td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        </tbody>
                    </table>
                    <h3 id="upload-file">Upload file</h3>
                    <ul>
                        <li>Call: POST <code>apps/{appId}/files</code></li>
                        <li>App Authentication is required</li>
                        <li>Authenticated User ID and ownerId have to match if ownerId is provided</li>
                    </ul>
                    <h4 id="request-body-multipart-form">Request body (multipart-form)</h4>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr class="header">
                            <th>Property</th>
                            <th>Type</th>
                            <th>Mandatory</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd">
                            <td><code>file</code></td>
                            <td>file</td>
                            <td>true</td>
                        </tr>
                        <tr class="even">
                            <td><code>ownerId</code></td>
                            <td>text</td>
                            <td>false</td>
                        </tr>
                        </tbody>
                    </table>

                    <h4>Example code in HTML</h4>
                    <pre>
                        <code>
&lt;form method="POST" action="http://localhost:8080/apps/instagram/files" enctype="multipart/form-data"&gt;
    &lt;input type="file" name="file"&gt;
    &lt;input type="submit" value="Upload"&gt;
&lt;/form&gt;
                        </code>
                    </pre>

                    <h3 id="download-file">Download file</h3>
                    <ul>
                        <li>Call: GET <code>apps/{appId}/files/{fileName}?appId={appId}&ownerId={ownerId}</code></li>
                        <li>Authenticated User ID and owner ID have to match if owner ID is provided</li>
                    </ul>
                    <h3 id="delete-file">Delete file</h3>
                    <ul>
                        <li>Call: GET <code>apps/{appId}/files/{fileName}?ownerId={ownerId}</code></li>
                        <li>App Authentication required</li>
                        <li>Authenticated User ID and owner ID have to match if owner ID is provided</li>
                    </ul>
                </section>

            </div>
        </div>
    </div>
</div>
{{> partials/footer }}
