{{> partials/head }}
<div class="container-fluid o-page">
    <div class="row o-page">
        {{> partials/sidebar }}
        <div class="col o-main">
            <div class="col-content-l o-main--text">

                <!-- Getting started -->
                <section>
                    <h1>Getting started with Stash Backend</h1>
                    <p>Stash Backend is a BA project written by Gábor Pintér for the Web Development BA program at Copenhagen School of Design
                        and Technology. The application is a general purpuse backend demonstrating some of the core features of the Dropwizard
                        framework.</p>
                    <p>The purpose of the application is to serve as an out-of-the-box backend which can be easily run locally or be deployed
                        to a provider of your choice (e.g.: Heroku, AWS, Docker Cloud). Perfect for frontend web- and mobile developers.</p>
                </section>

                <!-- Start building amazing apps-->
                <section>
                    <h2>Start building amazing apps</h2>
                    <p>Read about what you can achieve with Stash Backend</p>
                    <ul class="c-pills">
                        <li class="c-pills__pill alert-success">
                            <span>App settings</span>
                        </li>
                        <li class="c-pills__pill alert-warning">
                            <span>User service</span>
                        </li>
                        <li class="c-pills__pill alert-danger">
                            <span>Document service</span>
                        </li>
                        <li class="c-pills__pill alert-primary">
                            <span>File service</span>
                        </li>
                    </ul>
                </section>

            </div>
        </div>
    </div>
</div>
{{> partials/footer }}
