<div class="col col-content">
    <h1>Welcome {{name}}</h1>
    <p>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam ex, corrupti aliquam consequatur ea tempore unde deserunt ipsam nobis natus, cupiditate ipsum, numquam voluptatibus omnis architecto dolor. Quam, deleniti labore.</span>
        <span>Provident, quisquam nihil assumenda saepe fugit atque unde consequatur quam perspiciatis obcaecati esse facilis placeat veniam alias magni ad nobis quas culpa aliquam possimus dolorem ab voluptatum quaerat! Numquam, reiciendis!</span>
        <span>Aliquam illo ut at, molestias beatae ipsam nulla perspiciatis! Similique, facere incidunt ut consectetur, accusantium sunt architecto ipsa quas aliquam sint necessitatibus maiores iste porro? Tenetur voluptate eaque minima dolore!</span>
        <span>Porro repellat aperiam debitis labore qui nostrum ipsum ad. Quos molestias natus voluptates reprehenderit laboriosam facere nisi debitis quibusdam repellat, error sed assumenda tempore dolor eos. Quibusdam molestias deserunt facere!</span>
        <span>Aliquid, modi consectetur laborum, velit est error, quasi possimus provident inventore dolorum fugit? Totam amet error sed iusto! Eligendi culpa veritatis facilis cupiditate voluptates nobis dolore illum, ipsam accusantium magni!</span>
    </p>
    <img src="https://camo.githubusercontent.com/e2d7cacd3639b5cf19e8a10ae51817c9c07d3844/68747470733a2f2f7777772e736861726569636f6e2e6e65742f646174612f313238783132382f323031362f31302f31382f3834353235385f626f785f353132783531322e706e67" alt="">
</div>
