<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stash Backend</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
</head>
<body>

<div class="container-fluid o-page">
    <div class="row o-page">
        {{> style }}
        {{> sidebar }}
        <div class="col o-main">

            <div class="col-content-l o-main--text">
                <section>
                    <img src="https://camo.githubusercontent.com/e2d7cacd3639b5cf19e8a10ae51817c9c07d3844/68747470733a2f2f7777772e736861726569636f6e2e6e65742f646174612f313238783132382f323031362f31302f31382f3834353235385f626f785f353132783531322e706e67" class="o-image--article" alt="">
                    <h1>Getting started with Stash Backend</h1>
                    <p>Stash Backend is a BA project written by Gábor Pintér for the Web Development BA program at Copenhagen School of Design
                        and Technology. The application is a general purpuse backend demonstrating some of the core features of the Dropwizard
                        framework.</p>
                    <p>The purpose of the application is to serve as an out-of-the-box backend which can be easily run locally or be deployed
                        to a provider of your choice (e.g.: Heroku, AWS, Docker Cloud). Perfect for frontend web- and mobile developers.</p>
                </section>

                <section>

                    <h2>Start building amazing apps</h2>
                    <p>Read about what you can achieve with Stash Backend</p>
                    <ul class="c-pills">
                        <li class="c-pills__pill c-pills__pill--green">
                            <span>App settings</span>
                        </li>
                        <li class="c-pills__pill c-pills__pill--red">
                            <span>User service</span>
                        </li>
                        <li class="c-pills__pill c-pills__pill--yellow">
                            <span>Document service</span>
                        </li>
                        <li class="c-pills__pill c-pills__pill--purple">
                            <span>File service</span>
                        </li>
                    </ul>
                </section>

            </div>
        </div>
    </div>
</div>
</body>
</html>
