{{> partials/head }}
<div class="container col-content-l">
    <div class="o-text--centered">
        <p class="o-text--success">{{ message }}</p>
        <img src="../assets/img/logo.png" class="o-margin--l c-login__logo" alt="">
    </div>
    <h2 class="form-signin-heading o-text--centered">Log in to App</h2>
    <h3 class="o-text--centered form-signin__subtitle">Access and manage your data like never before</h3>
    <form class="form-signin" action="login" method="post">

        <input type="text" name="appId" id="inputAppId" class="form-control form_signin__input form_signin__input--top" placeholder="App ID" required autofocus>
        <input type="email" name="masterEmail" id="inputEmail" class="form-control form_signin__input form_signin__input--middle" placeholder="Master e-mail address" required autofocus>
        <input type="password" name="masterPassword" id="inputPassword" class="form-control o-margin--bottom-l  form_signin__input--bottom" placeholder="Master password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in to App</button>
    </form>
    <p class="o-text--centered o-margin--null">
        <a href="register">Don't have an App yet? Create a new App now.</a>
    </p>
    <p class="o-text--centered">
        <a href="https://github.com/gaboratorium/stash/wiki">Need some help? Check out the docs.</a>
    </p>
</div>
{{> partials/footer }}
