{{> partials/head }}
<div class="container col-content-l c-section--bordered">
    <div class="o-text--centered">
        <img src="assets/img/logo.png" class="o-margin--l" alt="">
    </div>
    <h2 class="form-signin-heading o-text--centered">Stash Backend</h2>
    <h3 class="o-text--centered form-signin__subtitle">Start building amazing apps with Stash Backend right now.</h3>
    <form class="form-signin">
        <label for="inputEmail" class="sr-only">Master e-mail...</label>
        <input type="email" id="inputEmail" class="form-control form_signin__input form-signin__input--top" placeholder="Master e-mail address" required autofocus>
        <label for="inputPassword" class="sr-only">App secret...</label>
        <input type="password" id="inputPassword" class="form-control o-margin--bottom-l  form_signin__input--bottom" placeholder="Master password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in to App</button>
    </form>
    <p class="o-text--centered o-margin--null">
        <a href="/register">Don't have an App yet? Create a new App now.</a>
    </p>
    <p class="o-text--centered">
        <a href="https://github.com/gaboratorium/stash/wiki">Not sure what you are doing? Check out the docs.</a>
    </p>
</div>
{{> partials/footer }}
