{{> partials/head }}
<div class="container-fluid o-page">
    <div class="row o-page">
        {{> partials/sidebar }}
        <div class="col o-main">
            <div class="col-content-l o-main--text">

                <!-- Getting started -->
                <section>
                    <h1>User service documentation</h1>
                    <p>Here you can find the documentation of the User Service.</p>
                </section>

                <section>
                    <p>Register, authenticate and manage users for your App.</p>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr class="header">
                            <th>Action</th>
                            <th>Method</th>
                            <th>URL</th>
                            <th>App auth required</th>
                            <th>User auth required</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd">
                            <td><a href="#create-user">Create user</a></td>
                            <td>POST</td>
                            <td><code>apps/{appId}/users</code></td>
                            <td>Yes</td>
                            <td>No</td>
                        </tr>
                        <tr class="even">
                            <td><a href="#authenticate-user">Auth user</a></td>
                            <td>POST</td>
                            <td><code>/users/authenticate</code></td>
                            <td>Yes</td>
                            <td>No</td>
                        </tr>
                        <tr class="odd">
                            <td><a href="#get-user">Get user</a></td>
                            <td>GET</td>
                            <td><code>apps/{appId}/users/{:userId}</code></td>
                            <td>Yes</td>
                            <td>No</td>
                        </tr>
                        <tr class="even">
                            <td><a href="#update-user">Update user</a></td>
                            <td>PUT</td>
                            <td><code>/apps/{appId}/users/{:userId}</code></td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr class="odd">
                            <td><a href="#delete-user">Delete user</a></td>
                            <td>DELETE</td>
                            <td><code>apps/{appId}/users/{:userId}</code></td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        </tbody>
                    </table>
                    <h3 id="create-user">Create user</h3>
                    <ul>
                        <li>Call: POST <code>apps/{appId}/users</code></li>
                        <li>Registers a new user</li>
                        <li>App Authentication is required if it is set in the configuration file</li>
                        <li>User ID and User e-mail cannot be taken</li>
                    </ul>
                    <h4 id="request-body">Request body</h4>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr class="header">
                            <th>Property</th>
                            <th>Type</th>
                            <th>Mandatory</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd">
                            <td><code>userId</code></td>
                            <td>String</td>
                            <td>true</td>
                        </tr>
                        <tr class="even">
                            <td><code>userPasswordHash</code></td>
                            <td>String</td>
                            <td>true</td>
                        </tr>
                        <tr class="odd">
                            <td><code>userEmail</code></td>
                            <td>String</td>
                            <td>true</td>
                        </tr>
                        <tr class="even">
                            <td><code>userEmailSecondary</code></td>
                            <td>String</td>
                            <td>false</td>
                        </tr>
                        <tr class="odd">
                            <td><code>userFirstName</code></td>
                            <td>String</td>
                            <td>false</td>
                        </tr>
                        <tr class="even">
                            <td><code>userLastName</code></td>
                            <td>String</td>
                            <td>false</td>
                        </tr>
                        <tr class="odd">
                            <td><code>userGender</code></td>
                            <td>String</td>
                            <td>false</td>
                        </tr>
                        <tr class="even">
                            <td><code>userRole</code></td>
                            <td>String</td>
                            <td>false</td>
                        </tr>
                        <tr class="odd">
                            <td><code>userAddress</code></td>
                            <td>String</td>
                            <td>false</td>
                        </tr>
                        <tr class="even">
                            <td><code>userCity</code></td>
                            <td>String</td>
                            <td>false</td>
                        </tr>
                        <tr class="odd">
                            <td><code>userZip</code></td>
                            <td>String</td>
                            <td>false</td>
                        </tr>
                        <tr class="even">
                            <td><code>userCountry</code></td>
                            <td>String</td>
                            <td>false</td>
                        </tr>
                        <tr class="odd">
                            <td><code>userBirthday</code></td>
                            <td>timestamp</td>
                            <td>false</td>
                        </tr>
                        </tbody>
                    </table>

                    <h4>Example code in jQuery</h4>

                    <pre>
                        <code>
    $("#registerForm").on("submit", function(e) {
        e.preventDefault();
        var body = {
                "userId": $("#registerForm__id").val(),
                "userEmail": $("#registerForm__email").val(),
                "userPasswordHash": $("#registerForm__passwordHash").val()
            }

        $.ajax(
            "http://localhost:8080/apps/myApplication/users",
            {
                type: "POST",
                async: "false",
                contentType: "application/json",
                data: JSON.stringify(body)
            }
        );
    })
                        </code>
                    </pre>

                    <h3 id="authenticate-user">Authenticate user</h3>
                    <ul>
                        <li>Call: POST <code>/users/authenticate</code></li>
                        <li>App Authentication required</li>
                        <li>Returns a User Authentication Token</li>
                    </ul>
                    <h4 id="request-body-1">Request body</h4>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr class="header">
                            <th>Property</th>
                            <th>Type</th>
                            <th>Mandatory</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd">
                            <td><code>appId</code></td>
                            <td>String</td>
                            <td>true</td>
                        </tr>
                        <tr class="even">
                            <td><code>appSecret</code></td>
                            <td>String</td>
                            <td>true</td>
                        </tr>
                        </tbody>
                    </table>
                    <h3 id="get-user">Get user</h3>
                    <ul>
                        <li>Call: GET <code>/users/{userId}</code></li>
                        <li>App Authentication required</li>
                        <li>Returns a registered user</li>
                    </ul>
                    <h3 id="update-user">Update user</h3>
                    <ul>
                        <li>Call: PUT <code>/users/{userId}</code></li>
                        <li>App Authentication required</li>
                        <li>User Authentication required</li>
                    </ul>
                    <h4 id="required-headers-for-user-authentication">Required headers for User Authentication</h4>
                    <pre class="sourceCode json" id="cb1"><code class="sourceCode json"><div class="sourceLine" id="cb1-1" data-line-number="1"><span class="fu">{</span></div>
<div class="sourceLine" id="cb1-2" data-line-number="2">  <span class="dt">&quot;X-Auth-User-Id&quot;</span><span class="fu">:</span> <span class="st">&quot;1234&quot;</span><span class="fu">,</span></div>
<div class="sourceLine" id="cb1-3" data-line-number="3">  <span class="dt">&quot;X-Auth-User-Token&quot;</span><span class="fu">:</span> <span class="st">&quot;12345689&quot;</span></div>
<div class="sourceLine" id="cb1-4" data-line-number="4"><span class="fu">}</span></div></code></pre>
                    <h4 id="request-body-2">Request body</h4>
                    <table class="table table-striped table-bordered table-hover"e>
                        <thead>
                        <tr class="header">
                            <th>Property</th>
                            <th>Type</th>
                            <th>Mandatory</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd">
                            <td><code>userId</code></td>
                            <td>String</td>
                            <td>false</td>
                        </tr>
                        <tr class="even">
                            <td><code>userPasswordHash</code></td>
                            <td>String</td>
                            <td>false</td>
                        </tr>
                        <tr class="odd">
                            <td><code>userEmail</code></td>
                            <td>String</td>
                            <td>false</td>
                        </tr>
                        <tr class="even">
                            <td><code>userEmailSecondary</code></td>
                            <td>String</td>
                            <td>false</td>
                        </tr>
                        <tr class="odd">
                            <td><code>userFirstName</code></td>
                            <td>String</td>
                            <td>false</td>
                        </tr>
                        <tr class="even">
                            <td><code>userLastName</code></td>
                            <td>String</td>
                            <td>false</td>
                        </tr>
                        <tr class="odd">
                            <td><code>userGender</code></td>
                            <td>String</td>
                            <td>false</td>
                        </tr>
                        <tr class="even">
                            <td><code>userRole</code></td>
                            <td>String</td>
                            <td>false</td>
                        </tr>
                        <tr class="odd">
                            <td><code>userAddress</code></td>
                            <td>String</td>
                            <td>false</td>
                        </tr>
                        <tr class="even">
                            <td><code>userCity</code></td>
                            <td>String</td>
                            <td>fals</td>
                        </tr>
                        </tbody>
                    </table>
                </section>

            </div>
        </div>
    </div>
</div>
{{> partials/footer }}
