<div class="col-sm-2 c-sidebar">

    <div class="c-app-selector">
        <!--<div class="c-app-selector__logo"></div>-->
        <span class="c-app-selector__title">
            <span class="o-text--bold">{{ vm.app.appName }}</span> Dashboard
        </span>
    </div>

    <ul class="nav flex-column">

        <li class="c-sidebar__menu-title">
            Services
        </li>
        <li class="nav-item c-sidebar__menu-item">
            <a href="/dashboard/app" class="nav-link c-sidebar__menu-link">
                <i class="fa fa-cog fa-fw" aria-hidden="true"></i>
                App settings
            </a>
        </li>
        <li class="nav-item c-sidebar__menu-item">
            <a href="/dashboard/users" class="nav-link c-sidebar__menu-link">
                <i class="fa fa-user fa-fw" aria-hidden="true"></i>
                Users
            </a>
        </li>
        <li class="nav-item c-sidebar__menu-item">
            <a href="/dashboard/documents" class="nav-link c-sidebar__menu-link">
                <i class="fa fa-database fa-fw" aria-hidden="true"></i>
                Documents
            </a>
        </li>
        <li class="nav-item c-sidebar__menu-item">
            <a href="/dashboard/files" class="nav-link c-sidebar__menu-link">
                <i class="fa fa-file-image-o fa-fw" aria-hidden="true"></i>
                Files
            </a>
        </li>

        <li class="c-sidebar__menu-title">
            Documentation
        </li>
        <li class="nav-item c-sidebar__menu-item">
            <a href="/dashboard/docs/getting_started" class="nav-link c-sidebar__menu-link">
                <i class="fa fa-book fa-fw" aria-hidden="true"></i>
                Getting started
            </a>
        </li>
        <li class="nav-item c-sidebar__menu-item">
            <a href="/dashboard/docs/app_service" class="nav-link c-sidebar__menu-link">
                <i class="fa fa-book fa-fw" aria-hidden="true"></i>
                App service
            </a>
        </li>
        <li class="nav-item c-sidebar__menu-item">
            <a href="/dashboard/docs/user_service" class="nav-link c-sidebar__menu-link">
                <i class="fa fa-book fa-fw" aria-hidden="true"></i>
                User service
            </a>
        </li>
        <li class="nav-item c-sidebar__menu-item">
            <a href="/dashboard/docs/document_service" class="nav-link c-sidebar__menu-link">
                <i class="fa fa-book fa-fw" aria-hidden="true"></i>
                Document service
            </a>
        </li>
        <li class="nav-item c-sidebar__menu-item">
            <a href="/dashboard/docs/file_service" class="nav-link c-sidebar__menu-link">
                <i class="fa fa-book fa-fw" aria-hidden="true"></i>
                File service
            </a>
        </li>

        <li class="c-sidebar__menu-title">
            Settings
        </li>
        <li class="nav-item c-sidebar__menu-item">
            <a href="/dashboard/logout" class="nav-link c-sidebar__menu-link">
                <i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>
                Log out
            </a>
        </li>
        <li class="c-sidebar__menu-meta c-sidebar__menu-meta--first">
            Stash Backend v0.1.0
        </li>
        <li class="c-sidebar__menu-meta">
            <a href="https://github.com/gaboratorium/stash" class="c-sidebar__menu-link">GitHub</a>
        </li>

    </ul>
</div>
