body {
	font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif
}

section {
	margin-bottom: 2rem;
}

/* Layouting  */

.o-page {
	min-height: 100vh;
}

.col,
.col-sm-2 {
	padding: 0rem;
}

.col-content {
	padding: 1rem;
}

.col-content-l {
	padding: 2rem;
}

/* Sidebar */

.c-app-selector {
	background-color: #3d3d3d;
	padding: 1rem;
	color: #bdbdbd;
	text-transform: uppercase;
}

.c-app-selector__logo {
	display: inline-block;
	width: 15px;
	height: 15px;
	vertical-align: middle;
	border-radius: 50%;
	background-color: #57c782;
	margin-right: .5rem
}

.c-app-selector__title {
	vertical-align: middle;
}

.c-sidebar {
	border-right: #4b4b4b 1px solid;
	background-color: #262626;
}

.c-sidebar__menu-item {
	border-bottom: #4b4b4b 1px solid;
}

.c-sidebar__menu-link {
	color: #bdbdbd;
}

.c-sidebar__menu-link:hover {
	color: #bdbdbd;
}

.c-sidebar__menu-item:hover {
	background-color: #424242;
}

.c-sidebar__menu-title {
	margin: 1rem;
	margin-top: 2rem;
	margin-bottom: .5rem;
	text-transform: uppercase;
	font-weight: bold;
	color: gray;
	font-size: .75rem;
}

.c-sidebar__menu-meta {
	margin-left: 1rem;
	color: gray;
	font-size: .8rem;
}

.c-sidebar__menu-meta--first {
	margin-top: 2rem;
}

.c-pills {
	padding: 0rem;
}

.c-pills__pill {
	display: inline-block;
	padding: 2rem;
	color: #fff;
	background-color: salmon;
	margin-right: 1rem;
	width: 200px;
	text-align: center;
	border-radius: 4px;
}

.c-pills__pill--green {
	background-color: #358989;
	background: -webkit-linear-gradient(#358989, #1c7272); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#358989, #1c7272); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#358989, #1c7272); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#358989, #1c7272); /* Standard syntax */
}

.c-pills__pill--red {
	background-color: #DB5E67;
	background: -webkit-linear-gradient(#DB5E67, #be4650); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#DB5E67, #be4650); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#DB5E67, #be4650); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#DB5E67, #be4650); /* Standard syntax */
}

.c-pills__pill--yellow {
	background-color: #A19505;
	background: -webkit-linear-gradient(#A19505, #867a06); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#A19505, #867a06); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#A19505, #867a06); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#A19505, #867a06); /* Standard syntax */
}

.c-pills__pill--purple {
	background-color: #752540;
	background: -webkit-linear-gradient(#752540, #58122b); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#752540, #58122b); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#752540, #58122b); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#752540, #58122b); /* Standard syntax */
}

.o-main {
	height: 100vh;
	overflow-y: scroll;
}

.o-main--text {
	max-width: 1000px;
}


.c-section--bordered {
	border: 1px solid lightgray;
	border-radius: 4px;
	margin-top: 4rem;
}

.c-avatar {
	width: 100px;
	height: 100px;
	border-radius: 20px;
	border: 1.5px solid lightgray;
	background-color: #fdfdfd;
	margin-bottom: 1.5rem;
	margin-top: -5.5rem;
	background-size: cover;
	display: flex;
	font-size: 2.5rem;
	color: #dfdfdf;
}

.c-avatar__logo {
	margin: auto;
}

.c-avatar__title {
	text-align: center;
	color: #3a3a3a;
	margin-top: 0rem;
	margin-bottom: 2rem;
	font-size: 1.5rem;

}

.c-name-badge {
	color: rgb(199, 18, 18);
	display: block;
	font-size: 1.2rem;
	font-weight: bold;
}

.o-text--centered {
	text-align: center;
}

.o-image--article {
	margin-bottom: 2rem;
}
