{{> ../partials/head }}
<div class="container-fluid o-page">
    <div class="row o-page">
        {{> ../partials/sidebar }}
        <div class="col o-main">
            <div class="col-content-l o-main--text">

                <!-- Getting started -->
                <section>
                    <h1>Getting started with Stash Backend</h1>
                    <p>Stash Backend is a BA project written by Gábor Pintér for the Web Development BA program at <a
                            href="http://www.kea.dk/da/" target="_blank">Copenhagen School of Design
                        and Technology</a>. The application is a general purpose backend demonstrating some of the core features of the
                        <a href="http://www.dropwizard.io/1.2.0/docs/" target="_blank">Dropwizard</a> framework.</p>
                    <p>The purpose of the application is to serve as an out-of-the-box backend which can be easily run locally or be deployed
                        to a provider of your choice (e.g.: <a href="https://www.heroku.com/" target="_blank">Heroku</a>,
                        <a href="https://aws.amazon.com/" target="_blank">AWS</a>, <a href="https://cloud.docker.com/" target="_blank">Docker Cloud</a>). Perfect for frontend web- and mobile developers.</p>
                </section>

                <!-- Start building amazing apps-->
                <section>
                    <h2>Start building amazing apps</h2>
                    <p>Read about what you can achieve with Stash Backend</p>
                    <ul class="c-pills">
                        <li class="c-pills__pill alert-success">
                            <span>App settings</span>
                        </li>
                        <li class="c-pills__pill alert-warning">
                            <span>User service</span>
                        </li>
                        <li class="c-pills__pill alert-danger">
                            <span>Document service</span>
                        </li>
                        <li class="c-pills__pill alert-primary">
                            <span>File service</span>
                        </li>
                    </ul>
                </section>

                <section>
                    <h2>Documentation and support</h2>
                    <ul>
                        <li><a href="Overview and settings of your backend in the browser">See Wiki</a></li>
                        <li><a href="https://github.com/gaboratorium/stash/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22">PRs Welcome - issues you can help with</a></li>
                    </ul>
                </section>

            </div>
        </div>
    </div>
</div>
{{> ../partials/footer }}
