{{> ../partials/head }}
<div class="container-fluid o-page">
    <div class="row o-page">
        {{> ../partials/sidebar }}
        <div class="col o-main">
            <div class="col-content-l o-main--text">

                <!-- Getting started -->
                <section>
                    <h1>User service docs</h1>
                    <p>Here you can find the documentation of the User Service.</p>
                </section>

            </div>
        </div>
    </div>
</div>
{{> ../partials/footer }}
