{{> ../partials/head }}
<div class="container-fluid o-page">
    <div class="row o-page">
        {{> ../partials/sidebar }}

        <!-- Content -->
        <div class="col o-main">
            <div class="col-content-l o-main--text">
                <section class="c-section--bordered col-content-l">

                    <h2>Document service</h2>
                    <p>Document service will go here.</p>

                </section>
                <p class="o-text--centered"><a href="">Need more power? Check out the API Documentation.</a></p>
            </div>
        </div>
    </div>
</div>
{{> ../partials/footer }}
